body{
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 550px;
  font-family: 'Source Serif Pro', serif;
}

h1{
  font-family: 'Baskervville', serif;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
  font-style: normal;
  font-size: 36px;
}

h2{
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  font-size: 20px;
}

h4{
font-weight: bold;
text-decoration-style: solid;
text-decoration-line: underline;
}

figcaption{
  font-size: 8px;
  color: grey;
}
#byline {
  font-style: italic;
  color: grey;
  font-size: 10px;
  text-align: left;
}

.credit{
  font-size: 12px;
  text-align: right;
}

script{
  margin: auto;
}

.first img{
  width: 290px;
  height: 400px;
}

.second img{
  width: 290px;
  height: 400px;
}

.third img{
  width: 310px;
  height: 400px;
}

.fourth img{
  width: 290px;
  height: 400px;
}

.fifth img{
  width: 310px;
  height: 400px;
}

img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75%;
}
