body{
  margin:0;
  padding: 0;
}

.first img{
  width: 400px;
  height: 340px;
}

.second img{
  width: 400px;
  height: 340px;
}

.third img{
  width: 400px;
  height: 340px;
}

.fourth img{
  width: 400px;
  height: 340px;
}

.fifth img{
  width: 400px;
  height: 340px;
}
